[package]
name = "gui"
version = "0.1.0"
edition = "2021"

[features]
default = []

[dependencies]
anyhow = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tauri = { version = "2.5.1", default-features = true , features = [] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[build-dependencies]
tauri-build = { version = "2.2.0", features = [] }

[package.metadata.bundle]
identifier = "com.decentralized.browser"
icon = ["icons/icon.icns"]
