[submodule "orbit-shell-ui"]
	path = orbit-shell-ui
	url = git@github.com:advatar/orbit-shell-ui.git
[submodule "KeyMeIn"]
	path = KeyMeIn
	url = git@github.com:advatar/KeyMeIn.git
[submodule "web"]
	path = web
	url = git@github.com:advatar/trustless-web-explorer.git
[submodule "swift/BLSVerifierKit/Vendor/blst"]
	path = swift/BLSVerifierKit/Vendor/blst
	url = https://github.com/supranational/blst.git
